allow init debugfs:dir mounton;
allow init mpt_file:dir mounton;
allow init sensors_data_file:dir mounton;
allow init persist_drm_file:dir mounton;
allow init mediadrm_vendor_data_file:dir mounton;
allow init proc_kernel_sched:file rw_file_perms;
allow init sysfs_mmc_host:file { setattr w_file_perms };
allow init sysfs_graphics:file { setattr w_file_perms };
allow init sysfs:file { setattr w_file_perms };

allow init sysfs_mmc_host:dir { relabelfrom };
allow init sysfs_mmc_host:file { relabelfrom };

allow init property_socket:property_service set;

#allow init firmware_file:dir { create_dir_perms setattr };
#allow firmware_file rootfs:filesystem associate;
allow init sysfs:dir { create };
allow init system_file:file { execute_no_trans };
allow init vendor_file:file { execute_no_trans };
allow init hwservicemanager:binder { call transfer };
allow init sysfs:dir create;

allow init hidl_base_hwservice:hwservice_manager add;
allow init default_android_hwservice:hwservice_manager { find add };
allow init hal_power_stats_hwservice:hwservice_manager { find add };
allow init hal_thermal_hwservice:hwservice_manager { find };
allow init thermal_service:service_manager add;

#FP
allow init sysfs:file open;
allow init tee_device:chr_file { ioctl open read write };
allow init hal_fingerprint_hwservice:hwservice_manager add;
allow init ion_device:chr_file { ioctl open read write };
allow init system_server:binder { call }; 